In [1]:
import pandas as pd
import numpy as np
from scipy import stats
from scipy.stats import norm
from scipy.stats import chi2_contingency

In [3]:
data=pd.read_csv("Costomer+OrderForm.csv")

In [4]:
data.head()

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free
3   Error Free  Error Free  Error Free  Error Free
4   Error Free  Error Free   Defective  Error Free

In [5]:
data.describe()

       Phillippines   Indonesia       Malta       India
count           300         300         300         300
unique            2           2           2           2
top      Error Free  Error Free  Error Free  Error Free
freq            271         267         269         280

In [6]:
data.Phillippines.value_counts()

Error Free    271
Defective      29
Name: Phillippines, dtype: int64

In [7]:
data.Indonesia.value_counts()

Error Free    267
Defective      33
Name: Indonesia, dtype: int64

In [8]:
data.Malta.value_counts()

Error Free    269
Defective      31
Name: Malta, dtype: int64

In [9]:
data.India.value_counts()

Error Free    280
Defective      20
Name: India, dtype: int64

In [10]:
observation=np.array([[271,267,269,280],[29,33,31,20]])

In [12]:
observation

array([[271, 267, 269, 280],
       [ 29,  33,  31,  20]])

In [15]:
chi2_contingency(observation)

(3.858960685820355,
 0.2771020991233135,
 3,
 array([[271.75, 271.75, 271.75, 271.75],
        [ 28.25,  28.25,  28.25,  28.25]]))

In [ ]:
#as the p value is > than 0.05 we accept the null hypothesis that is the customer order  forms defective % does not  varies by center